body {
	padding: 2rem;

	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
h1 {
	text-align: center;
}
.drop-zone-container {
	width: 100%;
	display: flex;
	gap: 10px;
}
.drop-zone {
	flex: 1;
	aspect-ratio: 2 / 1;
	border: 2px dashed #ccc;
	padding: 2rem;
	margin-bottom: 1rem;
	text-align: center;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	align-items: center;

	> i {
		font-size: 5rem;
		color: brown;
		position: relative;
	}
	&.checked > i {
		color: chocolate;
	}
	&.checked > i::before {
		position: absolute;
	}
	> i > i {
		font-size: 5rem;
		z-index: 2;
		color: #198a47;
		scale: 0.6;
		position: relative;
		left: 66%;
	}
}
.folder-select {
	display: flex;
	gap: 10px;
	width: 100%;
	align-items: center;
	margin-block: 10px;
	input {
		flex: 1;
	}
}
.button-container {
	width: 100%;
	display: flex;
	gap: 10px;
	justify-content: center;
}
button {
	padding: 0.5rem 1rem;
	font-family: "Noto Sans JP", sans-serif;
	&.inline {
		padding: 4px 6px;
	}
}
.progressbar {
	position: relative;
	width: 90%;
	margin-inline: auto;
	height: 10px;
	background-color: white;
	display: flex;
	justify-content: start;
	top: 40px;
	border-radius: 5px;
	overflow: clip;
	border: black 1px solid;
}

#percent {
	background-color: black;
	height: 100%;
	flex-basis: 0;
	text-align: right;
	line-height: 1.1;
	color: white;
	font-family: monospace;
	padding-right: 3px;
	font-size: 10px;
}

.hidden {
	display: none !important;
}
